:root {
  --blue: hsl(219, 85%, 26%);
  --light-gray: hsl(210, 60%, 98%);
  --gray: hsl(219, 12%, 42%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
